{%- style -%}

.section-{{section.id}}-padding {
    padding-top: {{section.settings.padding_top | times: 0.75 | round: 0}}px;
    padding-bottom: {{section.settings.padding_bottom | times: 0.75 | round: 0}}px;
}




@media screen and(min-width: 750px) {
    .section-{{section.id}}-padding {
        padding-top: {{section.settings.padding_top}}px;
        padding-bottom: {{section.settings.padding_bottom}}px;
    }
}

{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
    <div class="section_3_lowerside">
        <div class="section_3_container">
          <div class="wrapper pure-g">
            <div class="section_3_lowerside_image pure-u-1 pure-u-md-12-24">
              <img src="<img src="{{section.settings.image  | img_url: 'master'}}" alt="">">
            </div>
            <div class="section_3_lowerside_txt pure-u-1 pure-u-md-12-24">
              <h5>{{section.settings.title}}</h5>
              <h3>{{section.settings.title_2}}</h3>
              <p>{{section.settings.pahra}}</p>
            </div>
          </div>
        </div>
      </div>
</div>

{% schema %}

{
    "name": "Hero V6",
    "settings": [
        {
            "type": "text",
            "label": "Title",
            "id": "title"
        }, {
            "type": "text",
            "label": "Title_2",
            "id": "title_2"
        }, {
            "type": "text",
            "label": "pahra",
            "id": "pahra"
        }, {
            "type": "image_picker",
            "label": "Background Image",
            "id": "image"
        }, {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        }, {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],
    "presets": [
        {
            "name": "Hero V6"
        }
    ]
}

{% endschema %}
