


{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}




  .section-1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url({{section.settings.header_img |  img_url: 'master'}});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px;
}




@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
    
    <div class="section-1">
  <div class="container">
    <div class="pure-g">
      <div class="pure-u-1">
        <h2 class="H2"> {{section.settings.m_heading}} </h2>
      </div>
    </div>
  </div>
 </div>



  
</div>

{% schema %}
{
"name": "Unete-al-club",
"settings": [
  {
    "type": "image_picker",
    "label": "background img",
    "id": "header_img"
  },
  {
    "type": "text",
    "label": "Title",
    "id": "m_heading"
  },
  

  

  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 36
  }
],
"presets": [
  {
    "name": "Unete-al-club"
  }
]
}


{% endschema %}
