  {% for variant in product.metafields.custom %}
    
  {% assign countWeeks = forloop.index %}
    {% endfor %}
  {% assign bc_settings = shop.metafields.bc-sf-filter.settings %}
  {% assign active_vendor = true %}
  {% assign active_description = true %}
  {% assign active_cart_form = true %}
  {% assign active_price = true %}{% assign file_extension = 'png' %}
  {% assign locale = request.locale.iso_code  %}
  {% assign view_full_label = 'product_filter_search_quickview.view_full' | t %}
  {% if view_full_label contains 'translation missing'  %}
    {% assign view_full_label = 'View full details' %}
  {% endif %}

  {% assign quantity_label = 'product_filter_search_quickview.quantity' | t %}
  {% if quantity_label contains 'translation missing'  %}
    {% assign quantity_label = 'Quantity' %}
  {% endif %}

  {% assign add_to_cart_btn_label = 'product_filter_search_quickview.add_to_cart' | t %}
  {% if add_to_cart_btn_label contains 'translation missing'  %}
    {% assign add_to_cart_btn_label = 'Add To Cart' %}
  {% endif %}

  {% assign sold_out_btn_label = 'product_filter_search_quickview.sold_out' | t %}
  {% if sold_out_btn_label contains 'translation missing'  %}
    {% assign sold_out_btn_label = 'Sold Out' %}
  {% endif %}


  {% comment %} Translation {% endcomment %}
  {% assign view_full_label = 'View Full Details' %}
  {% if bc_settings contains 'qvViewFullDetails' and shop.metafields.boostpfs-settings.labelTranslations[locale] != nil and shop.metafields.boostpfs-settings.labelTranslations[locale].action_list.qvViewFullDetails != blank %}
  {% assign view_full_label = shop.metafields.boostpfs-settings.labelTranslations[locale].action_list.qvViewFullDetails %}
  {% endif %}
  {% assign quantity_label = 'Quantity' %}
  {% if bc_settings contains 'qvQuantity' and shop.metafields.boostpfs-settings.labelTranslations[locale] != nil and shop.metafields.boostpfs-settings.labelTranslations[locale].action_list.qvQuantity != blank %}
  {% assign quantity_label = shop.metafields.boostpfs-settings.labelTranslations[locale].action_list.qvQuantity %}
  {% endif %}
  {% assign add_to_cart_btn_label = 'Add To Cart' %}
  {% if bc_settings contains 'qvAddToCartBtnLabel' and shop.metafields.boostpfs-settings.labelTranslations[locale] != nil and shop.metafields.boostpfs-settings.labelTranslations[locale].action_list.qvAddToCartBtnLabel != blank %}
  {% assign add_to_cart_btn_label = shop.metafields.boostpfs-settings.labelTranslations[locale].action_list.qvAddToCartBtnLabel %}
  {% endif %}
  {% assign sold_out_btn_label = 'Sold Out' %}
  {% if bc_settings contains 'qvSoldOutLabel' %}
  {% assign sold_out_btn_label = bc_settings | split: 'qvSoldOutLabel":' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip | escape %}
  {% endif %}

  {% comment %} QV Settings {% endcomment %}
  {% assign active_vendor = true %}
  {% assign active_description = true %}

  {% assign bc_al_qv_cart_form_enable = 'true' %}
  {% if bc_settings contains 'qvCartFormEnable' and bc_al_is_advanced_version %}
    {% assign bc_al_qv_cart_form_enable = bc_settings | split: 'qvCartFormEnable:' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip %}
  {% endif %}

  {% assign bc_al_qv_notify_form_enable = 'false' %}
  {% if bc_settings contains 'qvNotifyMeFormEnable' and bc_al_is_advanced_version %}
    {% assign bc_al_qv_notify_form_enable = bc_settings | split: 'qvNotifyMeFormEnable:' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip %}
  {% endif %}
  {% comment %} Translation {% endcomment %}
  {% assign sold_out_btn_label = 'Sold Out' %}
  {% if bc_settings contains 'qvSoldOutLabel' %}
  {% assign sold_out_btn_label = bc_settings | split: 'qvSoldOutLabel":' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip | escape %}
  {% endif %}

  {% comment %} QV Settings {% endcomment %}
  {% assign active_vendor = true %}
  {% assign active_description = true %}

  {% assign bc_al_qv_cart_form_enable = 'true' %}
  {% if bc_settings contains 'qvCartFormEnable' and bc_al_is_advanced_version %}
    {% assign bc_al_qv_cart_form_enable = bc_settings | split: 'qvCartFormEnable:' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip %}
  {% endif %}

  {% assign bc_al_qv_notify_form_enable = 'false' %}
  {% if bc_settings contains 'qvNotifyMeFormEnable' and bc_al_is_advanced_version %}
    {% assign bc_al_qv_notify_form_enable = bc_settings | split: 'qvNotifyMeFormEnable:' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip %}
  {% endif %}

  {% assign bc_al_qv_social_block_enable = 'false' %}
  {% if bc_settings contains 'qvSocilaBlockEnable' and bc_al_is_advanced_version %}
    {% assign bc_al_qv_social_block_enable = bc_settings | split: 'qvSocilaBlockEnable:' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip %}
  {% endif %}

  {% assign bc_al_qv_social_block_enable = 'false' %}
  {% if bc_settings contains 'qvSocilaBlockEnable' and bc_al_is_advanced_version %}
    {% assign bc_al_qv_social_block_enable = bc_settings | split: 'qvSocilaBlockEnable:' | last | split: ',' | first | replace: '"', '' | replace: '}', '' | strip %}
  {% endif %}

{% assign image_size = 'original' %}
{% assign image_thumb_size = 'original' %}
{% assign image_scale = 3 %}
{% assign truncate_words = 30 %}
{% assign current_variant = product.selected_or_first_available_variant %}

<section class="usman section-3" style="padding-bottom:80px;">
  <div class="pure-g wrapper">
<div class="pure-u-1 pure-u-md-12-24">
  <h1 style="font-size:40px;text-transform: uppercase;">{{ product.title }}</h1>
<p class="pt-5 pb-5" style="color: #666666;font-size:14px;">$You save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price }}%
</p>
  <h2 style="text-transform: uppercase;font-size:18px;">Descripción</h2>
  <p class="pt-5 pb-5" style="font-size:16px;color:#666666;">{{ product.description  }}</p>
  
      <div class="boost-pfs-quickview-cart">
        <button type="submit" name="add" id="boost-pfs-quickview-cart-btn-{{ product.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn-black boost-pfs-quickview-cart-btn{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
          <span id="boost-pfs-quickview-cart-btn-text-{{ product.id }}" class="boost-pfs-quickview-cart-btn-text">
            {% unless current_variant.available %}
            {{ sold_out_btn_label }}
            {% else %}
            {{ add_to_cart_btn_label }}
            {% endunless %}
          </span>
        </button>
      </div>
</div>
    <div class="pure-u-1 pure-u-md-12-24">
            {% for image in product.images %}
              <div class="boost-pfs-quickview-featured-image">
                <img src="{{ image.src | img_url: image_size }}" alt="{{ image.alt | escape }}" width="80%" />
              </div>
            {% endfor %}
    </div>
  </div>
  </section>
  
</div>

